[submodule "External/Glad"]
	path = External/Glad
	url = https://github.com/WillR27/Glad
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/WillR27/imgui
[submodule "External/FreeType"]
	path = External/FreeType
	url = https://github.com/WillR27/freetype
