* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: $text-colour-shade2;
    line-height: 1.6em;
}

body {
    background-color: $error-colour;
    
    display: flex;

    a, a:visited {
        color: $link-colour;
        text-decoration: underline;
    }
}