$base-colour: #ffffff;
$base-colour-dark: #e2e2e2;
$base-colour-darker: #dbdbdb;

$text-colour-light: #636363;
$text-colour: #333333;
$text-colour-dark: #000000;

$primary-colour: #00af98;
$primary-colour-dark: #00858a;

$secondary-colour: #ac8ffa;
$secondary-colour-dark: #895399;

$error-colour: #ff0000;