$base-colour-shade1: #000000;
$base-colour-shade2: #161616;
$base-colour-shade3: #202020;

$text-colour-shade1: #ffffff;
$text-colour-shade2: #ebebeb;
$text-colour-shade3: #afafaf;

$primary-colour-shade1: #00858a;
$primary-colour-shade2: #00af98;
$primary-colour-shade3: #4dd0d4;
$primary-colour-shade4: #e2fafa;
$primary-colour-shade5: #ffffff;

$shadow-colour-shade1: #111111;

$error-colour: #ff0000;



$sidebar-background-colour: $base-colour-shade3;
$content-background-colour: $base-colour-shade2;

$link-colour: $primary-colour-shade3;

$code-snipped-background: $primary-colour-shade4;