$base-colour-shade1: #ffffff;
$base-colour-shade2: #f8f8f8;
$base-colour-shade3: #e9e9e9;

$text-colour-shade1: #000000;
$text-colour-shade2: #333333;
$text-colour-shade3: #636363;

$primary-colour-shade1: #00858a;
$primary-colour-shade2: #00af98;
$primary-colour-shade3: #4dd0d4;
$primary-colour-shade4: #def0f0;
$primary-colour-shade5: #ffffff;

$shadow-colour-shade1: #cccccc;

$error-colour: #ff0000;



$sidebar-background-colour: $base-colour-shade1;
$content-background-colour: $base-colour-shade2;

$link-colour: $primary-colour-shade2;

$code-snipped-background: $primary-colour-shade4;