$sidebar-width: 350px;

.sidebar {
    background-color: $sidebar-background-colour;
    
    width: $sidebar-width;
    height: 100vh;

    box-shadow: 10px 0 10px 0px $shadow-colour-shade1;
    
    position: sticky;
    top: 0;

    overflow-y: auto;

    > * {
        padding: 0px 20px 0px 20px;
    }

    .title {
        background-color: $primary-colour-shade1;

        color: $primary-colour-shade5;
        font-size: 3em;

        padding-top: 20px;
        padding-bottom: 10px;

        img {
            height: 1.33em;
            vertical-align: middle;
        }
    }

    .section {
        padding-top: 20px;

        > .section-heading {
            padding-bottom: 5px;
        }

        > a {
            color: $text-colour-shade1;
            font-size: larger;
            font-weight: 600;
        }
    }

    .subsections {
        margin-left: 10px;
        padding-left: 10px;

        a {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    
    a, a:visited {
        text-decoration: none;
        display: block;
    }

    nav {
        a, a:visited {
            color: $text-colour-shade2;
        }

        li {
            list-style-type: none;
            font-weight: normal;
        }
    
        div.arrow {
            width: 0; 
            height: 0; 
            
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid $primary-colour-shade2;

            margin-left: -16px;
            margin-top: 8px;

            position: absolute;

            cursor: pointer;
        }

        div.arrow.expanded {
            width: 0; 
            height: 0; 

            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $primary-colour-shade2;

            margin-left: -20px;
            margin-top: 11px;
        }

        div.arrow.empty {
            width: 8px;
            height: 8px;

            background-color: $primary-colour-shade2;

            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;

            margin-left: -17px;
            margin-top: 10px;

            cursor: auto;
        }

        a:hover {
            text-decoration: underline;
        }
        
        .current {
            text-decoration: underline;
        }
    }
}

.content {
    background-color: $content-background-colour;
    
    width: calc(100% - #{$sidebar-width});

    padding: 0px 0px 50px 0px;

    > * {
        margin: 20px 50px 0px 50px;
    }

    h1, h2 {
        color: $text-colour-shade1;
    }

    h1 {
        margin-top: 50px;
        padding-bottom: 16px;
        border-bottom: 1px solid $text-colour-shade2;
    }

    h2 {
        margin-top: 40px;
    }

    p {
        margin-top: 20px;
    }
}