$sidebar-width: 300px;

.sidebar {
    background-color: #102753;
    
    color: white;

    width: $sidebar-width;
    height: 100vh;
    
    position: sticky;
    top: 0;

    > * {
        padding: 0px 20px 0px 20px;
    }

    .title {
        font-size: xx-large;
        padding-top: 20px;
        padding-bottom: 10px;

        img {
            height: 1em;
            vertical-align: middle;
        }
    }

    .section {
        padding-top: 20px;

        > .section-heading {
            padding-bottom: 5px;
        }
    }

    .subsections {
        border-left: 1px solid rgb(163, 182, 211);
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 4px;

        a {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    
    a {
        color: white;
        text-decoration: none;
        display: block;
    }

    nav a:hover {
        color: rgb(131, 162, 207);
    }
    
    .current {
        color: rgb(184, 204, 231);
    }
}

.content {
    background-color: white;
    
    width: calc(100% - #{$sidebar-width});

    padding: 0px 0px 50px 0px;

    > * {
        padding: 20px 50px 0px 50px;
    }

    h1 {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    h1:after {
        content: ' ';
        display: block;
        border-bottom: 1px solid rgb(208, 208, 209);
    }

    h2 {
        padding-top: 40px;
    }

    p {
        padding-top: 20px;
    }
}