<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="POG Editor" Language="1033" Version="0.1.0" Manufacturer="Big Boi Studios" UpgradeCode="57DA3893-3084-450F-9556-F3B12F1C21D0">
		<Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id='1' Cabinet='POGEditor.cab' EmbedCab='yes' />

		<Feature Id="ProductFeature" Title="POGEditor" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="HeatGenerated" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
					<Directory Id="INSTALLFOLDER" Name="POGEditor">
            <Directory Id="RESOURCESFOLDER" Name="Resources" />
					</Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Win64="yes">
				<File Id="POGEditorExe" Source="$(var.POGEditor.TargetPath)" KeyPath="yes" />
      </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
